
#hdr {
  padding: 10px; 
  border-bottom: 1px solid #ddd; 
  box-shadow: 0px 2px 10px;
  background-color: red;
}

.header-content {
  display: flex; 
  align-items: center; 
  gap: 30px; 
}

.nav-links a {
  color: black; 
  text-decoration: none; 
  margin-right: 20px; 
}

.nav-links a:hover {
  color: gray;
}

.nav-links{
  font-family: "Copperplate", Fantasy;
}

footer{
  background-color: whitesmoke;
}

footer th{
  font-size: small;
  font-weight: bold;
}

footer p{
  padding: 10px 50px 30px;
}


